<div id="productCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#productCarousel" data-slide-to="1"></li>
    <li data-target="#productCarousel" data-slide-to="2"></li>
    <li data-target="#productCarousel" data-slide-to="3"></li>
    <li data-target="#productCarousel" data-slide-to="4"></li>
    <li data-target="#productCarousel" data-slide-to="5"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <%= image_tag 'photo1.jpg' %>
      <div class="carousel-caption">
        <h4>Título da foto</h4>
        <p>Descrição da foto</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'photo2.jpg' %>
      <div class="carousel-caption">
        <h4>Título da foto</h4>
        <p>Descrição da foto</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'photo3.jpg' %>
      <div class="carousel-caption">
        <h4>Título da foto</h4>
        <p>Descrição da foto</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'photo4.jpg' %>
      <div class="carousel-caption">
        <h4>Título da foto</h4>
        <p>Descrição da foto</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'photo5.jpg' %>
      <div class="carousel-caption">
        <h4>Título da foto</h4>
        <p>Descrição da foto</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'photo6.jpg' %>
      <div class="carousel-caption">
        <h4>Título da foto</h4>
        <p>Descrição da foto</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#productCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#productCarousel" data-slide="next">&rsaquo;</a>
</div>