<div id="productCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#productCarousel" data-slide-to="1"></li>
    <li data-target="#productCarousel" data-slide-to="2"></li>
    <li data-target="#productCarousel" data-slide-to="3"></li>
    <li data-target="#productCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'product/photo1.jpg' %>
      <div class="carousel-caption">
        <h4>Tela LED HD e webcam integrada</h4>
        <p>Tela LED HD de 15.6", Widescreen (1366x768). Microfone e Webcam integrada de 1.3 Mpx</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'product/photo2.jpg' %>
      <div class="carousel-caption">
        <h4>Teclas macias e tecado numérico</h4>
        <p>Possui teclado extremamente macio de digitar, com teclado numérico e tecla para desabilitar o touchpad</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'product/photo3.jpg' %>
      <div class="carousel-caption">
        <h4>Muito bem conservado e com saída HDMI</h4>
        <p>O notebook está em excelente estado de conservação e possui saída HDMI</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'product/photo4.jpg' %>
      <div class="carousel-caption">
        <h4>Driver de CD/DVD e conexões</h4>
        <p>Leitor de cartão de memória, driver de CD/DVD, entrada para cabo de rede, 4 portas USB e saída VGA</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'product/photo5.jpg' %>
      <div class="carousel-caption">
        <h4>Carregador e baterias</h4>
        <p>Duas baterias, sendo uma <span class="label label-success">TOTALMENTE NOVA</span>!</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#productCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#productCarousel" data-slide="next">&rsaquo;</a>
</div>