<div class="row-fluid">
  <div class="span10 offset1">
    <%= render 'carousel' %>
  </div>
  </div>

<div class="row">
<div class="span5 offset1">
  <h3>Especificações técnicas:</h3>

  <ul>
    <li>Dell Inspiron 15R N5010</li>
    <li>Processador Intel Core i5-480M (2.66 GHz até 2.93 GHz com Intel Turbo Boost, 4 Threads, 3Mb Cache)</li>
    <li>4 GB de Memória RAM DDR3</li>
    <li>Disco Rígido 320GB, SATA (5400 RPM)</li>
    <li>Leitor e gravador de CD/DVD+/-RW</li>
    <li>Tela LED HD de 15.6", Widescreen (1366x768)</li>
    <li>Microfone e Webcam integrada de 1.3 Mpx</li>
    <li>Saídas HDMI e VGA</li>
    <li>4 portas USB, sendo uma delas eSATA</li>
    <li>Leitor de cartão de memória</li>
    <li>2.6 kg</li>
    <li>Duas baterias, sendo uma <span class="label label-success">totalmente nova</span>!</li>
  </ul>
</div>

  <div class="span5">
    <h3>Formas de pagamento:</h3>

    <ul>
      <li>À vista, por depósito bancário <span class="label label-success">(5% de desconto)</span></li>
      <li>Cartão de crédito em até 18x, através do PagSeguro <a href="http://goo.gl/MMk77" target="_blank">(calcular o valor das parcelas)</a></li>
    </ul>

    <h3>Característica da negociação:</h3>

    <ul>
      <li>Valor inicial de <%= number_to_currency(Auction.initial_value) %></li>
      <li>O valor de cada lance é de <%= number_to_currency(Bid.value) %></li>
      <li>O leilão encerra no dia <strong>09/08/2013 às 23:59:59h</strong></li>
    </ul>


    <div class="bid-wrapper">
      <h3>
        Valor atual:
        <span class="product-value">
          <%= number_to_currency(Auction.current_value) %>
        </span>
      </h3>
      <%= link_to "Dar lance!", "/auth/facebook", class: 'btn btn-primary btn-large' %>
    </div>
  </div>
</div>