<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Estou leiloando... #{Auction.product_name}" %></title>
    <%= csrf_meta_tags %>

    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <!-- start: Facebook Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="314157648678401" />
    <meta property="og:title" content="Estou leiloando... <%= Auction.product_name %>"/>
    <meta property="og:site_name" content="leilao.hugomaiavieira.com"/>
    <meta property="og:image" content="http://leilao.hugomaiavieira.com/assets/product/facebook-share.jpg"/>
    <meta property="og:description" content="<%= Auction.description %>." />
    <!-- end: Facebook Open Graph -->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div id="marter-head">
      <h2>Estou leiloando...</h2>
      <h1><%= Auction.product_name %></h1>
    </div>

    <div class="container">
      <div id="content-wrapper">
        <div class="row">
          <div class="span2"></div>
          <div class="span8">
            <%= bootstrap_flash %>
          </div>
          <div class="span2"></div>
        </div>

        <%= yield %>

      </div> <!-- /container-wrapper -->
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <h3>Quem sou eu:</h3>

        <div class="seller-info">
          <img src="https://secure.gravatar.com/avatar/235c2eee6a3fd6bae5339a8941de07d2?s=100"
            class="seller-image img-polaroid" height="100" width="100" />
          <div class="seller-description">
          <br />
            <p>
              Meu nome é Hugo Maia Vieira e você pode saber mais sobre mim através
              das minhas redes sociais, onde também estou à disposição para tirar qualquer dúvida (que também pode ser enviada para o email <a href="mailto:hugomaiavieira@gmail.com">hugomaiavieira@gmail.com</a>).
            </p>
            <div class="seller-info-social">
              <p>
                <a href="http://facebook.com/hugomaiavieira"
                  target="_blank"><%= image_tag 'facebook.png' %></a>
              </p>
              <p>
                <a href="http://twitter.com/hugomaiavieira"
                  target="_blank"><%= image_tag 'twitter.png' %></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <%= javascript_include_tag "application" %>

  </body>
</html>
